/* header ul li{
    display: inline-block;
    padding: 0 8px;
    font-size: 14px;
}

header ul li a{
    text-decoration: none;
   
}

header ul{
    float: right;
} */
a{
    text-decoration: none !important;
}
a:hover{
    color: rgba(247,181,0) !important;
}

.navbar li a{
    background-color: rgba(0,0,0,0) !important;
    color: #ffffff !important;
 
}
.navbar a:hover{
    background-color: rgba(0,0,0,.5)!important;
}
#runju a{
    color: rgba(0,0,0,.5) !important;
}